/*
#ffffff Білий
#212121 Чорний основний
#000000 Чорний темніший 
#757575 Сірий 
#2196F3 Синій фокуc
*/
:root {
  
  --primary-text-color: #212121;
  --page-hero-text: #212121;
  --main-accent: #2196f3;
  --new-accent: #757575;
  --pimary-bg-color: #ffffff;
}
body {
  font-family: Roboto, sans-serif;
}
/* Logo  шрифт*/
.logo{
  font-family: Raleway, sans-serif;
font-size: 26px;
line-height: 31px;
}
.logo2{
  font-family: Raleway, sans-serif;
  font-size: 26px;
line-height: 31px;
}
.logo {
        color: #2196f3;
      }
      .logo2 {
        color: #000000;
      }
      .link { 
        color: #000000;
      }
      .link:hover { 
        color: #2196f3;
      }
      .link:focus {
       color:  #ffffff;
      }
      .links:hover,
      .links:focus {
    color: var(--pimary-bg-color);
    background-color: var(--main-accent);
}
.button .link:hover {
       color:  #2196f3;
      }
.button .link:focus {
  color: orange;
}
/* Применится ко всем абзацам на странице */
p {
  font-size: 16px;
}
h2 {
  font-size: 18px;
}
/* Применится ко всем ссылкам на странице */
a {
  text-decoration: none;
}
.list {
  list-style-type: none;
}
/*Site nav*/
.logo:hover {
  --new-accent: rgb(0, 0, 0)
  color: var(--new-accent);
}

}
.site-nav .link {
  font-family: Roboto;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
}
.auth-nav .link {
  color: #757575;
  font-family: Roboto;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: #2196f3;
}
.auth-nav .link:hover,
.auth-nav .link:focus {
  color: #2196f3;
}
.features-title {
  color: black;
}
.work-title {
  color: #757575;
}
.adress {
  color: #757575;
}
.section-nav-portfolio{

/*Button*/


/* Шрифти 
Raleway
Roboto

*/  
